// $team-color: #FFCC00;
$main-color:#fff;
// $open-sans-bold:'Open Sans', sans-serif;
// $roboto:'Roboto',sans-serif;
// $raleway:'Raleway',sans-serif;
$full-screen:100vw;
$main-font:"Josefin Sans", sans-serif;
$element-font:"Aleo",
serif;
$input-color:#999999;
$btn-color:#5474fd;
$description-color:#e8e8e8;
$bcg-card-color:#2f2c2e;
$hover-color:#999999;